.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #50B074;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}

.tooltip .tooltip-inner {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: #000;
  font-size: 19px;
}

body {
  background-color: #0D2436;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
